.community h2 {
	text-align: center;
	font-size: 1.6rem;
	padding-bottom: 2rem;
	color: var(--accent-color);
}

.grid {
	display: grid;
	gap: 3rem;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
	background-color: var(--tertiary-color);
	display: flex;
	flex-direction: column;
}

.card img {
	flex-basis: 80%;
}

.card h3 {
	padding-left: 1rem;
	color: var(--white);
}
